<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="scheduleListener" class="com.amirmoulavi.watchthatpage.scheduler.SchedulerContextListener" />
	
	<bean id="scheduleManager" class="com.amirmoulavi.watchthatpage.scheduler.ScheduleManager" factory-method="getInstance" />
	
	<bean id="mongo" class="com.amirmoulavi.watchthatpage.mongo.MongoDBHandler" factory-method="getInstance" />
	
	<bean id="pageTracker" class="com.amirmoulavi.watchthatpage.plugins.PageTracker">
		<property name="mongo" ref="mongo" />
	</bean>

</beans>